<ion-header>
  <ion-toolbar>
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <p style="font-size: 50px; text-align: center;">App Multiusos (Caja de Herramientas)</p>

    <img src="https://p4.wallpaperbetter.com/wallpaper/327/978/321/floor-tools-toolbox-hd-wallpaper-preview.jpg"/>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p style="font-size: 50px; text-align: center;">🛠</p>
    </ion-card-content>
  </ion-card>
</ion-content>  
 
